# Dependencies
/node_modules

# TypeScript/JavaScript build output
/out
/dist

# VS Code specific
.vscode-test
.vscode-test-web
.DS_Store

# Yeoman/npm files
npm-debug.log*
yarn-error.log*
.yo-rc.json